.modal {
  padding: 20px;
  background-color: #1c1c1c !important;
  border-radius: 10px !important;

  &__inner {
    position: relative;
  }

  &__body {
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__title {
    margin-bottom: 24px;
    text-align: center;
  }

  &__subtitle {
    margin: 24px 0;
  }

  .modal__button {
    margin: 0 auto;
    display: block;
  }

  .modal__title_error {
    color: #ed4b02;
  }
}
