// @import "~/assets/scss/fonts";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  min-width: 320px;
  line-height: 1.5;
  background: #0d0d0d;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
